@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100dvh;
    width: 100dvw;
    background-color: gray;
}

main{
    height: 100dvh;
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center fixed;
    background-size: cover;
    min-height: 627px;
}

section#telefone {
    position: absolute;
    top: 50dvh;
    right: 50dvw;
    transform: translate(50%, -50%);

    height: 627px;
    width: 311px;
    background: fixed url(/imagens/frame-iphone.png) no-repeat;
    background-size: cover;
}

iframe#tela {
    position: relative;
    top: 81.3px;
    left: 24.5px;

    width: 262px;
    height: 467px;
}

section#redes-sociais img {
    border-radius: 50%;
    width: 50px;
    margin: 10px;
    box-shadow: 0px  1px 10px rgba(0, 0, 0, 0.497);
    box-sizing: border-box;
}

section#redes-sociais {
    text-align: right;
    margin-right: 10px;
    padding-top: 30px;
}

section#redes-sociais img:hover {
    border: 3px solid #fff;
    box-shadow: 0px  1px 10px rgba(249, 249, 249, 0.745);
    transform: translate(-5px, -5px);
    transition: transform .2s;
}